<div class="container">
  <h1>About page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, mollitia, aspernatur illo voluptatum incidunt molestias rem repellat ut nesciunt tempora labore culpa corporis quos molestiae nihil eaque dignissimos. Eaque, alias.</p>
</div>